.score-input{
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-input input {
  padding: 10px;
  margin-bottom:10px;
  width: 230px;
  height: 20px;
}
.score-input button {
  width: 255px;
  height: 40px;
}
.score-input .radio {
  width: 40px;
  height: 40px;
  line-height: 40px;
  transform: translateY(14px);
}

.winnerTitle{
  margin-left: 257px;
  font-size: 10px;
  transform: translateY(10px);
}

.radioLabel {
  line-height: 40px;
}

.match{
  display:block;
  margin-top:10px;
  margin-bottom: 20px;
  padding: 10px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #fff;
}
.match:hover{
  background: rgba(255,255,255, 0.2);
}
.tag-winner{
  font-weight:bold;
  font-size: .8em;
  color: #ff2fa4;
}